@font-face {
    font-family: AzereteMono;
    src: url('../fonts/AzereteMono.ttf');
  }
html, body {
    background: rgb(20,20,20);
    text-align: center;
    height: 100%;
    overflow: hidden;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: url("../fonts/AzereteMono.ttf");
}


.container {
    left: 120%;
    display: flex;
    justify-content: space-around; /* Distribute the diamonds evenly */
    align-items: center;
    width: 80%; /* Full width */
    height: 80%; /* Full height */
}

/* Diamond wrapper */
.svg-wrapper {
    width: 120px;  /* Adjust size to scale down */
    transform: rotate(45deg);  /* Rotate the container to create the diamond */
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: center;
    position: relative;
}

/* Different colors for each diamond */
.svg-wrapper.red .shape {
    stroke: #ff4c4c; /* Red */
}
.svg-wrapper.green .shape {
    stroke: #4caf50; /* Green */
}
.svg-wrapper.blue .shape {
    stroke: #2196f3; /* Blue */
}
.svg-wrapper.yellow .shape {
    stroke: #ffeb3b; /* Yellow */
}
.svg-wrapper.purple .shape {
    stroke: #9c27b0; /* Purple */
}

/* Position the diamonds to alternate up and down */
.svg-wrapper.red {
    top: -160px;
    left: 5% /* First one higher */
}
.svg-wrapper.green {
    top: -90px; /* Second one lower */
    right: 0%;
}
.svg-wrapper.blue {
    top: -20px; /* Third one higher */
    right: 35%;
}
.svg-wrapper.yellow {
    top: 50px;
    right: 40% /* Fourth one lower */
}
.svg-wrapper.purple {
    top: 120px; /* Fifth one higher */
    right: 75%;
}

/* Shape styling */
.shape {
    fill: transparent;
    stroke-width: 6px; /* Scale stroke width down */
    stroke-dasharray: 203 5;
    stroke-dashoffset: 60;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 2.5s;
}

/* Text styling */
.text {
    font-family: 'AzereteMono';
    font-size: 80%;  /* Scale down text size */
    line-height: 30px;
    letter-spacing: 5px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg); /* Rotate text to keep it upright */
    pointer-events: none;
}

.shape:hover {
    stroke-width: 2px;
    stroke-dashoffset: 0;
    stroke-dasharray: 650;
}
